# IMDB Ratings Dataframe

## Deliverables

- Before saving, run a final .info() for each of the dataframes to show a summary of how many movies remain and the datatypes of each feature
- Save each file to a compressed csv file "Data/" folder inside your repository.
- Commit your changes to your repository in GitHub desktop and Publish repository / Push Changes.
- Submit the link to your repository

## Import & Load the Data

### Imports

In [1]:
import pandas as pd
import numpy as np

### Load the Data

In [2]:
#Load in the ratings database
ratings_url="https://datasets.imdbws.com/title.ratings.tsv.gz"

In [3]:
#Load in the Basics database
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"

In [4]:
#Load in the Akas database
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"

In [5]:
#basics df from URL
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

In [6]:
#ratings df from URL
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)

In [7]:
#akas df from URL
akas = pd.read_csv(akas_url, sep='\t', low_memory=False)

## Filter & Clean the Data

### Akas Task v2

- [X] keep only US movies.
- [X] Replace "\N" with np.nan

In [11]:
#viewing the first 5 rows of the akas dataframe
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [12]:
#create boolean filter where it only keeps rows that have the "US" value
us_filter = akas['region'] == 'US'

In [13]:
#Apply the filter to the dataframe
akas = akas[us_filter]

In [14]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,\N,imdbDisplay,\N,0
14,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,\N,imdbDisplay,\N,0
36,tt0000005,1,Blacksmithing Scene,US,\N,alternative,\N,0
41,tt0000005,6,Blacksmith Scene #1,US,\N,alternative,\N,0

**Replace "\N" with np.nan**

In [15]:
#replacing all \N with NaN values
akas = akas.replace({'\\N':np.nan})

In [16]:
#Viewing all columns that have missing values
akas.isnull().sum()

titleId                  0
ordering                 0
title                    0
region                   0
language           1440266
types               464270
attributes         1397475
isOriginalTitle       1342
dtype: int64

### Basics Tasks

- [X] Replace "\N" with np.nan
- [X] Eliminate movies that are null for runtimeMinutes
- [X] Eliminate movies that are null for genre
- [X] keep only titleType==Movie
- [X] keep startYear 2000-2022
- [X] Eliminate movies that include "Documentary" in genre (see tip below)
- [X] Keep only US movies (Use AKAs table, see "Filtering one dataframe based on another" section below)

In [23]:
#reviewing basic info for the basics df
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9920713 entries, 0 to 9920712
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 681.2+ MB

In [24]:
#View the first 5 rows of the df to ensure its loaded correctly and view the
#data
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

**Replace "\N" with np.nan**

In [25]:
#replacing all \N with NaN values
basics = basics.replace({'\\N':np.nan})

In [26]:
#viewing the first 5 rows again to make sure those changes worked
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [27]:
#Viewing all columns that have missing values
basics.isnull().sum()

tconst                  0
titleType               0
primaryTitle           11
originalTitle          11
isAdult                 1
startYear         1337301
endYear           9812230
runtimeMinutes    6982582
genres             444996
dtype: int64

**Eliminate movies that are null for runtimeMinutes**

In [28]:
#removing all rows that have a null value in runtimeMinutes
basics = basics.dropna(subset=['runtimeMinutes'])

**Eliminate movies that are null for genre**

In [29]:
#removing all rows that have a null value in genres
basics = basics.dropna(subset=['genres'])

In [30]:
#Viewing all columns that have missing values to confirm changes are made
basics.isnull().sum()

tconst                  0
titleType               0
primaryTitle            1
originalTitle           1
isAdult                 0
startYear          168879
endYear           2810822
runtimeMinutes          0
genres                  0
dtype: int64

**keep only titleType==Movie**

In [31]:
#create boolean filter where it only keeps rows that have the "movie" value
movie_filter = basics['titleType'] == 'movie'

In [32]:
#apply the boolean filter to the dataframe
basics = basics[movie_filter]

In [33]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,NaN,100,"Documentary,News,Sport"
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,NaN,120,"Adventure,Fantasy"

**keep startYear 2000-2022**

In [34]:
#dropping the rows that have a NaN in the startYear because we only want
#to keep anything between 2000 and 2022

In [35]:
basics = basics.dropna(subset=['startYear'])

In [36]:
#Viewing all columns that have missing values to confirm changes are made
basics.isnull().sum()

tconst                 0
titleType              0
primaryTitle           0
originalTitle          0
isAdult                0
startYear              0
endYear           377179
runtimeMinutes         0
genres                 0
dtype: int64

In [37]:
#Convert startYear to Datetime and convert to integer to remove the decimal
basics['startYear'] = pd.to_datetime(basics['startYear'],format='%Y').dt.year

In [38]:
#new boolean filter where it only keeps rows that have the startYear from 
#2000-2022
year_filter = (basics['startYear'] >= 2000) & (basics['startYear'] <= 2022)

In [39]:
#apply the boolean filter to the dataframe
basics = basics[year_filter]

In [40]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
13082,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021,NaN,94,Documentary
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
42384,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013,NaN,120,"Drama,History"
61115,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
67668,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama

**Eliminate movies that include "Documentary" in genre**

In [41]:
# Exclude movies that are included in the documentary category.
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

In [42]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
42384,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013,NaN,120,"Drama,History"
61115,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
67668,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
86800,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"

In [43]:
# Filter the basics table down to only include the US by using the filter 
#akas dataframe
keepers =basics['tconst'].isin(akas['titleId'])
keepers

34803       True
42384       True
61115       True
67668       True
86800       True
           ...
9920386     True
9920395     True
9920434    False
9920479     True
9920563    False
Name: tconst, Length: 147671, dtype: bool

In [44]:
#filtering the basics dataframe
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
42384,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013,NaN,120,"Drama,History"
61115,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
67668,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
86800,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
...,...,...,...,...,...,...,...,...,...
9919851,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,NaN,74,Drama
9920246,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,NaN,97,"Comedy,Drama,Fantasy"
9920386,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama
9920395,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller"
9920479,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"

In [45]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86765 entries, 34803 to 9920479
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          86765 non-null  object
 1   titleType       86765 non-null  object
 2   primaryTitle    86765 non-null  object
 3   originalTitle   86765 non-null  object
 4   isAdult         86765 non-null  object
 5   startYear       86765 non-null  int64
 6   endYear         0 non-null      object
 7   runtimeMinutes  86765 non-null  object
 8   genres          86765 non-null  object
dtypes: int64(1), object(8)
memory usage: 6.6+ MB

### Ratings Tasks

- [X] Replace "\N" with np.nan (if any)
- [X] Keep only US movies (Use AKAs table, see "Filtering one dataframe based on another" section below)

In [46]:
#replacing all \N with NaN values
ratings = ratings.replace({'\\N':np.nan})

In [47]:
#Viewing all columns that have missing values
ratings.isnull().sum()

tconst           0
averageRating    0
numVotes         0
dtype: int64

In [48]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1979
1  tt0000002            5.8       265
2  tt0000003            6.5      1832
3  tt0000004            5.6       179
4  tt0000005            6.2      2621

In [49]:
keepers2 =ratings['tconst'].isin(akas['titleId'])
keepers2

0           True
1           True
2          False
3          False
4           True
           ...
1318068    False
1318069    False
1318070    False
1318071    False
1318072    False
Name: tconst, Length: 1318073, dtype: bool

In [50]:
ratings = ratings[keepers2]

In [51]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500832 entries, 0 to 1318048
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         500832 non-null  object
 1   averageRating  500832 non-null  float64
 2   numVotes       500832 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 15.3+ MB

## Exporting Files to .csv.gz

- Running final .info on all 3 dataframes

In [52]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1444216 entries, 5 to 36190124
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1444216 non-null  object
 1   ordering         1444216 non-null  int64
 2   title            1444216 non-null  object
 3   region           1444216 non-null  object
 4   language         3950 non-null     object
 5   types            979946 non-null   object
 6   attributes       46741 non-null    object
 7   isOriginalTitle  1442874 non-null  object
dtypes: int64(1), object(7)
memory usage: 99.2+ MB

In [53]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500832 entries, 0 to 1318048
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         500832 non-null  object
 1   averageRating  500832 non-null  float64
 2   numVotes       500832 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 15.3+ MB

In [54]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86765 entries, 34803 to 9920479
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          86765 non-null  object
 1   titleType       86765 non-null  object
 2   primaryTitle    86765 non-null  object
 3   originalTitle   86765 non-null  object
 4   isAdult         86765 non-null  object
 5   startYear       86765 non-null  int64
 6   endYear         0 non-null      object
 7   runtimeMinutes  86765 non-null  object
 8   genres          86765 non-null  object
dtypes: int64(1), object(8)
memory usage: 6.6+ MB

In [55]:
# example making new folder with os
import os
os.makedirs('Data/',exist_ok=True) 
# Confirm folder created
os.listdir("Data/")

['.ipynb_checkpoints',
 'final_tmdb_data_2000.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 'title_akas.csv.gz',
 'title_basics.csv.gz',
 'title_ratings.csv.gz',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json',
 'tmdb_results_combined.csv.gz']

In [56]:
## Save current dataframe to file.
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [57]:
akas.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)

In [58]:
ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

In [59]:
#confirming that basics was saved properly in the data folder
basics_new = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics_new.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013,NaN,120,"Drama,History"
2,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"

In [60]:
#Create a pandas dataframe for ratings (after files have been cleaned and uploaded)
ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)

In [61]:
#Create a pandas datframe for akas (after files have been cleaned and uploaded)
akas = pd.read_csv("Data/title_akas.csv.gz", low_memory = False)

In [62]:
#Create a pandas dataframe for basics (after files have been cleaned and uploaded)
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)